@model WebApp.Areas.SocialWork.Models.FamilyResearchViewModel

@{
    ViewData["Title"] = "Investigación familiar";
}

@if (ViewData.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <h4 class="text-danger">Errores:</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <h2 class="text-center text-uppercase mt-4">
                    investigación familiar
                </h2>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Fecha de visita</label>
                            <input type="date" asp-for="VisitDate" class="form-control" value="@Model.VisitDate.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="form-group col-md-3">
                            <label>Hora de visita</label>
                            <input type="datetime" asp-for="VisitTime" class="form-control" value="@Model.VisitTime.ToShortTimeString()" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Familia</label>
                            @if (Model.Family == null)
                            {
                                <input type="text" asp-for="Family" class="form-control" />
                            }
                            else
                            {
                                <input type="text" asp-for="Family" class="form-control" value="@Model.Family" />
                            }
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Motivo de solicitud</label>
                            @if (Model.RequestReasons == null)
                            {
                                <input type="text" asp-for="RequestReasons" class="form-control" />
                            }
                            else
                            {
                                <input type="text" asp-for="RequestReasons" class="form-control" value="@Model.RequestReasons" />
                            }
                        </div>
                    </div>
                    <section>
                        <div class="card">
                            <h5 class="card-header text-center text-white bg-primary">
                                Datos del Tutor
                            </h5>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label>Nombre de solicitante</label>
                                        @if (Model.LegalGuardian == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.FullName" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.FullName" class="form-control" value="@Model.LegalGuardian.FullName" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Edad</label>
                                        @if (Model.LegalGuardian == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Age" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Age" class="form-control" value="@Model.LegalGuardian.Age" />
                                        }
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Parentesco</label>
                                        @Html.DropDownListFor(x => Model.LegalGuardian.RelationshipId, new SelectList(Model.RelationshipList, "Id", "Name"), htmlAttributes: new { @class = "form-control", id = "Relationship" })
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label>Lugar de nacimiento</label>
                                        @if (Model.LegalGuardian == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.PlaceOfBirth" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.PlaceOfBirth" class="form-control" value="@Model.LegalGuardian.PlaceOfBirth" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Fecha de nacimiento</label>
                                        @if (Model.LegalGuardian == null)
                                        {
                                            <input type="date" asp-for="LegalGuardian.DateOfBirth" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="date" asp-for="LegalGuardian.DateOfBirth" class="form-control" value="@Model.LegalGuardian.DateOfBirth.ToString("yyyy-MM-dd")" />
                                        }
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Estado civil</label>
                                        @Html.DropDownListFor(x => Model.LegalGuardian.MaritalStatusId, new SelectList(Model.MaritalStatusList, "Id", "Name"), htmlAttributes: new { @class = "form-control", id = "MaritalStatus" })
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Recados</label>
                                        @if (Model.LegalGuardian == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Errand" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Errand" class="form-control" value="@Model.LegalGuardian.Errand" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Ocupación</label>
                                        @if (Model.LegalGuardian == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.CurrentOccupation" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.CurrentOccupation" class="form-control" value="@Model.LegalGuardian.CurrentOccupation" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Escolaridad</label>
                                        @if (Model.LegalGuardian == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Education" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Education" class="form-control" value="@Model.LegalGuardian.Education" />
                                        }
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Número celular</label>
                                        @if (Model.LegalGuardian == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.CellPhoneNumber" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.CellPhoneNumber" class="form-control" value="@Model.LegalGuardian.CellPhoneNumber" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Telefono de casa</label>
                                        @if (Model.LegalGuardian == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.PhoneNumber" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.PhoneNumber" class="form-control" value="@Model.LegalGuardian.PhoneNumber" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="card">
                            <h5 class="card-header text-center text-white bg-primary">
                                Dirección
                            </h5>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label>Calle</label>
                                        @if (Model.LegalGuardian == null || Model.LegalGuardian.Address == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.Street" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.Street" class="form-control" value="@Model.LegalGuardian.Address.Street" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Número</label>
                                        @if (Model.LegalGuardian == null || Model.LegalGuardian.Address == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.HouseNumber" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.HouseNumber" class="form-control" value="@Model.LegalGuardian.Address.HouseNumber" />
                                        }
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Int.</label>
                                        @if (Model.LegalGuardian == null || Model.LegalGuardian.Address == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.PoBox" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.PoBox" class="form-control" value="@Model.LegalGuardian.Address.PoBox" />
                                        }
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label>Colonia</label>
                                        @if (Model.LegalGuardian == null || Model.LegalGuardian.Address == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.Neighborhood" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.Neighborhood" class="form-control" value="@Model.LegalGuardian.Address.Neighborhood" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Estado</label>
                                        @Html.DropDownListFor(x => Model.LegalGuardian.Address.State, new SelectList(Model.StatesOfMexico, "Nombre", "Nombre"), htmlAttributes: new { @class = "form-control", id = "StatesOfMexico" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Municipio</label>
                                        @Html.DropDownListFor(x => Model.LegalGuardian.Address.City, new SelectList(Model.MunicipalitiesOfMexico, "Nombre", "Nombre"), htmlAttributes: new { @class = "form-control", @id = "MunicipalitiesOfMexico" })
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label>Entre (Referencia)</label>
                                        @if (Model.LegalGuardian == null || Model.LegalGuardian.Address == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.Reference" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.Reference" class="form-control" value="@Model.LegalGuardian.Address.Reference" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Código postal</label>
                                        @if (Model.LegalGuardian == null || Model.LegalGuardian.Address == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.Zip" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.Zip" class="form-control" value="@Model.LegalGuardian.Address.Zip" />
                                        }
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Teléfono</label>
                                        @if (Model.LegalGuardian == null || Model.LegalGuardian.Address == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.PhoneNumber" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Address.PhoneNumber" class="form-control" value="@Model.LegalGuardian.Address.PhoneNumber" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="card">
                            <h5 class="card-header text-center text-white bg-primary">
                                Datos de cónyuge o pareja
                            </h5>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Nombre</label>
                                        @if (Model.LegalGuardian == null || Model.LegalGuardian.Spouse == null || Model.LegalGuardian.Spouse.FullName == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Spouse.FullName" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Spouse.FullName" class="form-control" value="@Model.LegalGuardian.Spouse.FullName" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Edad</label>
                                        @if (Model.LegalGuardian == null || Model.LegalGuardian.Spouse == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Spouse.Age" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Spouse.Age" class="form-control" value="@Model.LegalGuardian.Spouse.Age" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Ocupación</label>
                                        @if (Model.LegalGuardian == null || Model.LegalGuardian.Spouse == null || Model.LegalGuardian.Spouse.CurrentOccupation == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Spouse.CurrentOccupation" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Spouse.CurrentOccupation" class="form-control" value="@Model.LegalGuardian.Spouse.CurrentOccupation" />
                                        }
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label>Observaciones</label>
                                        @if (Model.LegalGuardian == null || Model.LegalGuardian.Spouse == null || Model.LegalGuardian.Spouse.Comments == null)
                                        {
                                            <input type="text" asp-for="LegalGuardian.Spouse.Comments" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="LegalGuardian.Spouse.Comments" class="form-control" value="@Model.LegalGuardian.Spouse.Comments" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="card">
                            <h5 class="card-header text-center text-white bg-primary">
                                Datos del menor
                            </h5>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label>Nombre</label>
                                        @if (Model.Minor == null)
                                        {
                                            <input type="text" asp-for="Minor.FullName" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="Minor.FullName" class="form-control" value="@Model.Minor.FullName" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Lugar de nacimiento</label>
                                        @if (Model.Minor == null)
                                        {
                                            <input type="text" asp-for="Minor.PlaceOfBirth" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="Minor.PlaceOfBirth" class="form-control" value="@Model.Minor.PlaceOfBirth" />
                                        }
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Fecha de nacimiento</label>
                                        @if (Model.Minor == null)
                                        {
                                            <input type="date" asp-for="Minor.DateOfBirth" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="date" asp-for="Minor.DateOfBirth" class="form-control" value="@Model.Minor.DateOfBirth.ToString("yyyy-MM-dd")" />
                                        }
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label>Ocupación</label>
                                        @if (Model.Minor == null)
                                        {
                                            <input type="text" asp-for="Minor.CurrentOccupation" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="Minor.CurrentOccupation" class="form-control" value="@Model.Minor.CurrentOccupation" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Escolaridad</label>
                                        @if (Model.Minor == null)
                                        {
                                            <input type="text" asp-for="Minor.Education" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="Minor.Education" class="form-control" value="@Model.Minor.Education" />
                                        }
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Edad</label>
                                        @if (Model.Minor == null)
                                        {
                                            <input type="text" asp-for="Minor.Age" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="Minor.Age" class="form-control" value="@Model.Minor.Age" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="card">
                            <h5 class="card-header text-center text-white bg-primary">
                                Escolaridad
                            </h5>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="form-check form-check-inline">
                                        @if (Model.Minor == null || Model.Minor.FormalEducation == null)
                                        {
                                            <input class="form-check-input" type="checkbox" asp-for="Minor.FormalEducation.CanItRead" class="form-control" />
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" asp-for="Minor.FormalEducation.CanItRead" class="form-control"
                                                   value="@Model.Minor.FormalEducation.CanItRead" />
                                        }
                                        <label class="form-check-label">¿Sabe leer?</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @if (Model.Minor == null || Model.Minor.FormalEducation == null)
                                        {
                                            <input class="form-check-input" type="checkbox" asp-for="Minor.FormalEducation.CanItWrite" class="form-control" />
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" asp-for="Minor.FormalEducation.CanItWrite" class="form-control"
                                                   value="@Model.Minor.FormalEducation.CanItWrite" />
                                        }
                                        <label class="form-check-label">¿Sabe escribir?</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @if (Model.Minor == null || Model.Minor.FormalEducation == null)
                                        {
                                            <input class="form-check-input" type="checkbox" asp-for="Minor.FormalEducation.IsItStudyingNow" class="form-control" />
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" asp-for="Minor.FormalEducation.IsItStudyingNow" class="form-control"
                                                   value="@Model.Minor.FormalEducation.IsItStudyingNow" />
                                        }
                                        <label class="form-check-label">¿Actualmente estudia?</label>
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="form-group col-md-5">
                                        <label>Último grado cursado</label>
                                        @if (Model.Minor == null)
                                        {
                                            <input type="text" asp-for="Minor.FormalEducation.CurrentGrade" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="Minor.FormalEducation.CurrentGrade" class="form-control" value="@Model.Minor.FormalEducation.CurrentGrade" />
                                        }
                                    </div>
                                    <div class="form-group col-md-7">
                                        <label>Motivo por el que dejo de estudiar  (si es asi)</label>
                                        @if (Model.Minor == null)
                                        {
                                            <input type="text" asp-for="Minor.FormalEducation.ReasonsToStopStudying" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="Minor.FormalEducation.ReasonsToStopStudying" class="form-control" value="@Model.Minor.FormalEducation.ReasonsToStopStudying" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="card">
                            <h5 class="card-header text-center text-white	bg-primary">
                                Derivada por
                            </h5>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>Familiar</label>
                                        @if (Model.PreviousFoundation == null || Model.PreviousFoundation.Familiar == null)
                                        {
                                            <input type="text" asp-for="PreviousFoundation.Familiar" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="PreviousFoundation.Familiar" class="form-control" value="@Model.PreviousFoundation.Familiar" />
                                        }
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Procuraduría</label>
                                        @if (Model.PreviousFoundation == null || Model.PreviousFoundation.Procuraduria == null)
                                        {
                                            <input type="text" asp-for="PreviousFoundation.Procuraduria" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="PreviousFoundation.Procuraduria" class="form-control" value="@Model.PreviousFoundation.Procuraduria" />
                                        }
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Dif</label>
                                        @if (Model.PreviousFoundation == null || Model.PreviousFoundation.Dif == null)
                                        {
                                            <input type="text" asp-for="PreviousFoundation.Dif" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="PreviousFoundation.Dif" class="form-control" value="@Model.PreviousFoundation.Dif" />
                                        }
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Otro</label>
                                        @if (Model.PreviousFoundation == null || Model.PreviousFoundation.Otro == null)
                                        {
                                            <input type="text" asp-for="PreviousFoundation.Otro" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="PreviousFoundation.Otro" class="form-control" value="@Model.PreviousFoundation.Otro" />
                                        }
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Institución	anterior</label>
                                        @if (Model.PreviousFoundation == null || Model.PreviousFoundation.InstitucionAnterior == null)
                                        {
                                            <input type="text" asp-for="PreviousFoundation.InstitucionAnterior" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="PreviousFoundation.InstitucionAnterior" class="form-control" value="@Model.PreviousFoundation.InstitucionAnterior" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Tiempo de estadia</label>
                                        @if (Model.PreviousFoundation == null || Model.PreviousFoundation.TiempoDeEstadia == null)
                                        {
                                            <input type="text" asp-for="PreviousFoundation.TiempoDeEstadia" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="PreviousFoundation.TiempoDeEstadia" class="form-control" value="@Model.PreviousFoundation.TiempoDeEstadia" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Motivo de egreso</label>
                                        @if (Model.PreviousFoundation == null || Model.PreviousFoundation.MotivoDeEgreso == null)
                                        {
                                            <input type="text" asp-for="PreviousFoundation.MotivoDeEgreso" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="PreviousFoundation.MotivoDeEgreso" class="form-control" value="@Model.PreviousFoundation.MotivoDeEgreso" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="card">
                            <h5 class="card-header text-center text-white bg-primary">
                                Salud familiar
                            </h5>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Estado de salud general de la familia</label>
                                        @if (Model.FamilyHealth == null || Model.FamilyHealth.FamilyHealthStatus == null)
                                        {
                                            <input type="text" asp-for="FamilyHealth.FamilyHealthStatus" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="FamilyHealth.FamilyHealthStatus" class="form-control" value="@Model.FamilyHealth.FamilyHealthStatus" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Derecho hambiente a servicios de salud</label>
                                        @if (Model.FamilyHealth == null || Model.FamilyHealth.DerechoHambienteAServiciosDeSalud == null)
                                        {
                                            <input type="text" asp-for="FamilyHealth.DerechoHambienteAServiciosDeSalud" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="FamilyHealth.DerechoHambienteAServiciosDeSalud" class="form-control" value="@Model.FamilyHealth.DerechoHambienteAServiciosDeSalud" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Tipo</label>
                                        @if (Model.FamilyHealth == null || Model.FamilyHealth.Tipo == null)
                                        {
                                            <input type="text" asp-for="FamilyHealth.Tipo" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="FamilyHealth.Tipo" class="form-control" value="@Model.FamilyHealth.Tipo" />
                                        }
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Enfermedades crónicas degenerativas</label>
                                        @if (Model.FamilyHealth == null || Model.FamilyHealth.EnfermedadesCronicasDegenerativas == null)
                                        {
                                            <input type="text" asp-for="FamilyHealth.EnfermedadesCronicasDegenerativas" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="FamilyHealth.EnfermedadesCronicasDegenerativas" class="form-control" value="@Model.FamilyHealth.EnfermedadesCronicasDegenerativas" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Consumo de tabaco</label>
                                        @if (Model.FamilyHealth == null || Model.FamilyHealth.ConsumoDeTabaco == null)
                                        {
                                            <input type="text" asp-for="FamilyHealth.ConsumoDeTabaco" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="FamilyHealth.ConsumoDeTabaco" class="form-control" value="@Model.FamilyHealth.ConsumoDeTabaco" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Consumo de alcohol</label>
                                        @if (Model.FamilyHealth == null || Model.FamilyHealth.ConsumoDeAlcohol == null)
                                        {
                                            <input type="text" asp-for="FamilyHealth.ConsumoDeAlcohol" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="FamilyHealth.ConsumoDeAlcohol" class="form-control" value="@Model.FamilyHealth.ConsumoDeAlcohol" />
                                        }
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Consumo de drogas</label>
                                        @if (Model.FamilyHealth == null || Model.FamilyHealth.ConsumoDeDrogas == null)
                                        {
                                            <input type="text" asp-for="FamilyHealth.ConsumoDeDrogas" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="FamilyHealth.ConsumoDeDrogas" class="form-control" value="@Model.FamilyHealth.ConsumoDeDrogas" />
                                        }
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label>Observaciones</label>
                                        @if (Model.FamilyHealth == null || Model.FamilyHealth.Comments == null)
                                        {
                                            <input type="text" asp-for="FamilyHealth.Comments" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="FamilyHealth.Comments" class="form-control" value="@Model.FamilyHealth.Comments" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="card">
                            <h5 class="card-header text-center text-white   bg-primary">
                                Composición familiar
                            </h5>
                            <div class="card-body">
                                <div class ="mb-3 ml-3">
                                    @Html.ActionLink("+ Agregar", "Action", "Controller", new { Area = "SocialWork" }, htmlAttributes: new { @class = "btn btn-success" })
                                </div>
                                <div class="col-12">
                                    @await Html.PartialAsync("_FamilyMembersTable", Model)
                                </div>

                                <div    class="form-row mt-4">
                                    <div class="form-group col-md-6">
                                        <label>Dinamica familiar</label>
                                        @if (Model.FamilyMembers == null || Model.FamilyMembers.FamilyInteraction == null)
                                        {
                                            <input type="text" asp-for="FamilyMembers.FamilyInteraction" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="FamilyMembers.FamilyInteraction" class="form-control" value="@Model.FamilyMembers.FamilyInteraction" />
                                        }
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Observaciones</label>
                                        @if (Model.FamilyMembers == null || Model.FamilyMembers.Comments == null)
                                        {
                                            <input type="text" asp-for="FamilyMembers.Comments" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="FamilyMembers.Comments" class="form-control" value="@Model.FamilyMembers.Comments" />
                                        }
                                    </div>                                    
                                </div>

                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="card">
                            <h5 class="card-header text-center text-white bg-primary">
                                Socioeconomico
                            </h5>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Vivienda</label>
                                        @Html.DropDownListFor(x => Model.SocioEconomicStudy.HomeAcquisitionId, new SelectList(Model.HomeAcquisitionList, "Id", "Name"), htmlAttributes: new { @class = "form-control", id = "HomeAcquisition" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Nombre de propietario</label>
                                        @if (Model.SocioEconomicStudy == null)
                                        {
                                            <input type="text" asp-for="SocioEconomicStudy.NombrePropietario" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="SocioEconomicStudy.NombrePropietario" class="form-control" value="@Model.SocioEconomicStudy.NombrePropietario" />
                                        }
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Medio de adquisición</label>
                                        @if (Model.SocioEconomicStudy == null)
                                        {
                                            <input type="text" asp-for="SocioEconomicStudy.MedioAdquisicion" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="SocioEconomicStudy.MedioAdquisicion" class="form-control" value="@Model.SocioEconomicStudy.MedioAdquisicion" />
                                        }
                                    </div>                                            
                                </div>
                                
                                <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>Tipo de vivienda</label>
                                            @Html.DropDownListFor(x => Model.SocioEconomicStudy.TypesOfHousesId, new SelectList(Model.HomeAcquisitionList, "Id", "Name"), htmlAttributes: new { @class = "form-control", id = "TypesOfHouses" })
                                        </div>            
                                </div>  

                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>Recamaras</label>
                                        @if (Model.SocioEconomicStudy == null || Model.SocioEconomicStudy.HouseLayout == null)
                                        {
                                            <input type="text" asp-for="SocioEconomicStudy.HouseLayout.Bedroom" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="SocioEconomicStudy.HouseLayout.Bedroom" class="form-control" value="@Model.SocioEconomicStudy.HouseLayout.Bedroom" />
                                        }
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Comedor</label>
                                        @if (Model.SocioEconomicStudy == null || Model.SocioEconomicStudy.HouseLayout == null)
                                        {
                                            <input type="text" asp-for="SocioEconomicStudy.HouseLayout.Dinningroom" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="SocioEconomicStudy.HouseLayout.Dinningroom" class="form-control" value="@Model.SocioEconomicStudy.HouseLayout.Dinningroom" />
                                        }
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Cocina</label>
                                        @if (Model.SocioEconomicStudy == null || Model.SocioEconomicStudy.HouseLayout == null)
                                        {
                                            <input type="text" asp-for="SocioEconomicStudy.HouseLayout.Kitchen" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="SocioEconomicStudy.HouseLayout.Kitchen" class="form-control" value="@Model.SocioEconomicStudy.HouseLayout.Kitchen" />
                                        }
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Sala</label>
                                        @if (Model.SocioEconomicStudy == null || Model.SocioEconomicStudy.HouseLayout == null)
                                        {
                                            <input type="text" asp-for="SocioEconomicStudy.HouseLayout.Livingroom" class="form-control" />
                                        }
                                        else
                                        {
                                            <input type="text" asp-for="SocioEconomicStudy.HouseLayout.Livingroom" class="form-control" value="@Model.SocioEconomicStudy.HouseLayout.Livingroom" />
                                        }
                                    </div>                        
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                <div class="card-footer text-muted">
                    Footer
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready( function () {
            $('#FamilyMembersTableId').DataTable({ searching: false });
        });
    </script>
}